<!DOCTYPE html>
<<<<<<< HEAD
<html lang="en" dir="ltr">
  <body>
=======
<html>
  <head>
    <meta charset="UTF-8">
    <title>New Word</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
>>>>>>> 0db6d1a18235bcb4837f60b5a1b9b837aa22d917
      <%= "#{@pig_word}" %>
      </body>
</html>